body {
    background-color: white;
    color: black;
    text-align: center;
}

a:hover {
    text-decoration: none;
    padding: 10px;
    color: red;
}

a:active {
    text-decoration: none;
    color: gray;
}