body {
    background-color: white;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

a:hover {
    text-decoration: none;
    padding: 10px;
    color: red;
}

a:active {
    text-decoration: none;
    color: gray;
}

p {
    font-size: 18px;
}