body {
    background-color: white;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

a:hover {
    text-decoration: none;
    padding: 10px;
    color: black;
    background-color: yellow;
}

a:visited {
    text-decoration: none;
    color: white;
    background-color: blue;
}

a:link {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

p {
    font-size: 18pt;
}